# Group 10
 
## Group Members: Ilia, Mai, Martin, Ryan

_______________________________________________________________________________________________________________________________

# Overview

Our group is using pandas to import two datasets to clean and transform them before loading them into PostgresSQL. The two datasets are a csv files from Kaggle, one is drinks.csv and the second one is unemployment analysis.csv. 

Since the data for drinks.csv is for the year 2010, we decided to clean the Unemployment Analysis.csv and select picked the year 2010. then merged the two datasets together to form the new dataframe. Both datasets showed 153 countries on alcohol consumption and unemployment rate.

In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect

# Extract

Our group imported two csv data, drinks.csv, and unemployment analysis.csv to use for this project. The two datasets were stored in our repository in the folder name data.

In [ ]:
# Store file path in a variable
drinks = "data/drinks.csv"
unemployment = "data/unemployment analysis.csv"

In [ ]:
# Read our Data file with pandas library
drinks_df = pd.read_csv(drinks)
unemployment_df = pd.read_csv(unemployment)

In [ ]:
# Show Drinks dataframe
drinks_df.head()

In [ ]:
# Show unemployment dataframe
unemployment_df.rename(columns={'Country Name':'country'}, inplace=True)

In [ ]:
# Change a name of the countries in drinks_df
drinks_df["country"] = drinks_df["country"].replace({'USA':'United States of America', 'Russian Federation':'Russia', 'Congo':'Republic of Congo', 'DR Congo':'Democratic Republic of the Congo', 'Tanzania':'United Republic of Tanzania', 'Somalia':'Somaliland'})

In [ ]:
# Change a name of the countries in unemployment_df
unemployment_df["country"] = unemployment_df["country"].replace({'United States':'United States of America',  'Russian Federation':'Russia', 'Egypt, Arab Rep.':'Egypt', 'Congo, Rep.':'Republic of Congo', 'Congo, Dem. Rep.':'Democratic Republic of the Congo', 'Tanzania':'United Republic of Tanzania', 'Somalia':'Somaliland', 'Turkiye':'Turkey', 'Venezuela, RB':'Venezuela', 'Iran, Islamic Rep.':'Iran'})

In [ ]:
# Reference multiple columns within a dataframe
cleaned_unemployment_df = unemployment_df[['country', 'Country Code', '2010']]

In [ ]:
# Show Cleaned Unemployment dataframe
cleaned_unemployment_df

In [ ]:
# dropping all entries for countries not found in the 'drinks_df' dataframe
trimmed_data = cleaned_unemployment_df[cleaned_unemployment_df.country.isin(drinks_df.country)]
trimmed_data

In [ ]:
# Merge the Drinks and unemployment dataframes
cleaned_df = drinks_df.merge(cleaned_unemployment_df, how='inner', on='country')

In [ ]:
cleaned_df

In [ ]:
# Renamed columns
cleaned_combined_data = cleaned_df.rename(columns={"2010" : "unemployment_rate", "Country Code" : "Country_Code"})
cleaned_combined_data

In [ ]:
# Remove 'Country_Code' column
cleaned_combined_data.drop('Country_Code', axis=1, inplace=True)
cleaned_combined_data

In [ ]:
# Set Country column as an index
cleaned_combined_data.set_index('country')

In [ ]:
# save cleaned datasets to 'cleaned-datasets' directory
cleaned_combined_data.to_csv('cleaned-datasets/cleaned_combined_data.csv', index=False)

In [ ]:
# Create database connection
protocol = 'postgresql'
username = 'postgres'
password = 'bootcamp'
host = 'localhost'
port = 5432
database_name = 'AlcoholUnemployment_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [ ]:
# Confirm tables
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
cleaned_combined_data.to_sql(name='cleaned_combined_data', con=engine, if_exists='append', index=False)